.NewMovie_page{
    margin-top: 15%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
        h2 {
            color: white;
            font-size: 28px;
            margin-bottom: 4%;
        }
        .NewMovie_box{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            .NewMovie{
                display: flex;
                width: 18%;
                height: 100%;
                margin-bottom: 4%;
                flex-direction: column;
                .NewMovie_img_div{
                    text-align: center;
                }
                .NewMovie_img{
                    width: 100%;
                    height: 320px;
                }
            .NewMovie_desc {
                padding-top: 8%;
                color: white;
            }
            }
        }
}