.latest {
    width: 100%;
    height: 500px;
    text-align: center;
    h2 {
        font-size: 28px;
        color: #fff;
        margin-top: 240px;
    }
    .slider {
        width: 100%;
        height: auto;
        padding: 50px 0;
        .slide {
            width: 100%;
            height: auto;
            padding: 0 20px;
            img {
                width: 100%;
            }
        }
    }
}
.slick-prev {
    left: -50px;
    &::before {
        font-size: 50px;
    }
}
.slick-next {
    &::before {
        font-size: 50px;
    }
}
.slick-dots {
    li {
        button {
            &::before {
                opacity: 0.75;
                color: #fff;
            }
        }
    }
    li.slick-active {
        button {
            &::before {
                opacity: 1;
                color: #FF4C29;
            }
        }
    }
}