header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: black;
    h1 {
        width: 15%;
        text-align: center;
        font-size: 38px;
        color: #FF4C29;
        cursor: pointer;
    }
    #search {
        width: 70%;
        padding-left: 50%;
        .searchbox {
            width: 350px;
            height: 55px;
            display: flex;
            background-color: #334756;
            padding: 10px;
            border-radius: 45px;
            input {
                padding: 16px; 
                width: 90%;
                outline: 0;
                border: 0;
                background-color: #334756;
                color: #fff;
            }
            button {
                width: 36px;
                height: 36px;
                border: 0;
                border-radius: 50%;
                background-color: #fff;
                position: relative;
                cursor: pointer;
                .searchicon {
                    font-size: 22px;
                    font-weight: bold;
                    color: #FF4C29;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
    #headermenu {
        width: 20%;
        .membermenu {
            width: 100%;
            display: flex;
            justify-content: center;
            li {
                list-style: none;
                color: #fff;
                font-size: 14px;
                padding: 0 6px;
                cursor: pointer;
            }
            span {
                color: #FF4C29;
                font-weight: bold;
                font-size: 14px;
                padding: 0 6px;
                cursor: default;
            }
        }
    }
}