* {padding: 0; margin: 0; box-sizing: border-box;}

@font-face {
    font-family: 'GoyangIlsan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GoyangIlsan.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'GoyangIlsan', sans-serif;
    font-size: 16px;
    background-color: #082032;
}
a {
    text-decoration: none;
    color: inherit;
}
.inner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}