* {padding: 0; margin: 0; box-sizing: border-box;}

@font-face {
    font-family: 'GoyangIlsan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GoyangIlsan.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'GoyangIlsan', sans-serif;
    font-size: 16px;
    background-color: #082032;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: inherit;
}
.inner {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}
/* 스크롤바 설정*/
::-webkit-scrollbar{
    width: 10px;
}

/* 스크롤바 막대 설정*/
::-webkit-scrollbar-thumb{
    background-color: rgba(255,255,255,1);
    /* 스크롤바 둥글게 설정    */
    border-radius: 15px;    
}

/* 스크롤바 뒷 배경 설정*/
::-webkit-scrollbar-track{
    background-color: rgba(255,255,255,0.3);
}
